<div class="wrapper fadeInDown">
  <div id="formContent">    
  
    <form [formGroup]="Registerform" (submit)="onSubmit()">

      <div class="form-group" [ngClass]="{
        'has-danger': Registerform.controls.firstName.invalid && (Registerform.controls.firstName.dirty || Registerform.controls.firstName.touched),
        'has-success': Registerform.controls.firstName.valid && (Registerform.controls.firstName.dirty || Registerform.controls.firstName.touched) } "
        >

          <input type="text" id="firstName" class="fadeIn second"
          formControlName = "firstName" name="firstName" placeholder="firstName">   
          
          <pre *ngIf ="Registerform.controls.firstName.invalid &&
          (Registerform.controls.firstName.dirty || 
          Registerform.controls.firstName.touched)" style="color: beige">please enter valid first name!!</pre>

      </div>
      
      <div class="form-group" [ngClass]="{
        'has-danger': Registerform.controls.lastName.invalid &&
              (Registerform.controls.lastName.dirty || 
              Registerform.controls.lastName.touched),
        'has-success': Registerform.controls.lastName.valid &&
              (Registerform.controls.lastName.dirty ||
               Registerform.controls.lastName.touched) } "
        >

          <input type="text" id="lastName" class="fadeIn second"
          formControlName = "lastName" name="lastName" placeholder="lastName">

          <pre *ngIf ="Registerform.controls.lastName.invalid && 
                  (Registerform.controls.lastName.dirty || 
                  Registerform.controls.lastName.touched)" style="color: beige">please enter valid last name!!</pre>

      </div>      

      <div class="form-group" [ngClass]="{
        'has-danger': Registerform.controls.lastName.invalid &&
              (Registerform.controls.email.dirty || 
              Registerform.controls.email.touched),
        'has-success': Registerform.controls.email.valid &&
              (Registerform.controls.email.dirty ||
               Registerform.controls.email.touched) } ">

          <input type="text" id="email" class="fadeIn second"
          formControlName = "email" name="email" placeholder="email"> 

          <pre *ngIf ="Registerform.controls.email.invalid && 
      (Registerform.controls.email.dirty || 
      Registerform.controls.email.touched)" style="color: beige">please enter valid email!!</pre>

      </div>
   
      <div class="form-group" [ngClass]="{
        'has-danger': Registerform.controls.password.invalid &&
              (Registerform.controls.password.dirty || 
              Registerform.controls.password.touched),
        'has-success': Registerform.controls.password.valid &&
              (Registerform.controls.password.dirty ||
               Registerform.controls.password.touched) } ">

          <input type="password" id="password" class="fadeIn third" 
          formControlName="password" name="password" placeholder="password">

          <pre *ngIf ="Registerform.controls.password.invalid && 
          (Registerform.controls.password.dirty || 
          Registerform.controls.password.touched)" style="color: beige">please enter valid password!!</pre>

      </div>
 
      <div class="form-group" [ngClass]="{
        'has-danger': Registerform.controls.confirmPwd.invalid &&
              (Registerform.controls.confirmPwd.dirty || 
              Registerform.controls.confirmPwd.touched),
        'has-success': Registerform.controls.confirmPwd.valid &&
              (Registerform.controls.confirmPwd.dirty ||
               Registerform.controls.confirmPwd.touched) } ">

          <input type="password" id="confirmPwd" class="fadeIn third"
          formControlName="confirmPwd" name="confirmPwd" placeholder="confirm password">

           <pre *ngIf ="Registerform.controls.confirmPwd.invalid && 
          (Registerform.controls.confirmPwd.dirty || 
          Registerform.controls.confirmPwd.touched)" style="color: beige">please enter valid password!!</pre>
          
      </div>
      
      <input type="submit" [disabled]="!Registerform.valid" class="fadeIn fourth" value="REGISTER">
    </form>

    <div id="formFooter">
      <p style="color: burlywood;">Already Registered!!</p> <br>
      <a class="underlineHover" routerLink="/login">  Login </a>
    </div>
  </div>
</div>